.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 1.5rem;
}

.features {
  display: flex;
  align-items: center;
  padding: 3rem 0;
  width: 100%;
}

.feature {
  padding: 1.5rem 1rem;
  text-align: center;
}

.featureIcon {
  font-size: 3rem;
  margin-bottom: 1rem;
}
